/*fuente*/
@import url('https://fonts.googleapis.com/css2?family=Rozha+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@400;600&display=swap');




:root{
    --color-Primary:#ff8800;
    --color-Title:#0d0d25;
    --color-Text:#5d5d79;
    --color-Menu:#f2f6f7;
    --font-Principal: 'Rozha One', serif;
    --font-boby:'Sora', sans-serif;
}
/*conf initial*/

*{
    padding: 0px;
    margin: 0px;
    font-family: var(--font-boby);
    box-sizing: border-box;
}
html{
  font-size: 62.5%;
}

.debugger{
    border: 1px solid red;
}
/* header */

.header{
  z-index: 3;
    display: flex;
    width: 100%;
    height: 55px;
    position: absolute;
}

.header__container{width: 100%;
  display: flex;
  justify-content: flex-end;
  position: absolute;
}

  .topnav {
    overflow: hidden;
   
  }


  .topnav a {
    float: left;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: var(--font-Principal);
    font-size: 2.5rem;
    color: var(--color-Text);
    font-weight: 400;
  }
  .topnav ul  li {
    list-style: none;
    text-align: start;
    text-decoration-line: none;
    font-size: 1.5rem;
    


  }

  .topnav .icon {
    display: none;
  }

  /* Hero Section */

  .hero{
      display: flex;
      height: 100%;
      width: 100%;
      position: relative;
      top: 55px;
  }
  .heroImage{
      position: relative;
      top:-55px;
      bottom: 0px;
      left: 0px;
      right: 0px;
      z-index: 1;
      padding-top: 7em;
      width: 100%;
      height: 60vh;
      background-image: url('../images/heroimage.jpg');
      background-size:cover;
      background-position: inherit;
      background-repeat: no-repeat;
      object-fit: cover;
  }
  .hero__container{
    z-index: 2;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding-left: 6em;
    box-sizing: content-box;
    position: relative;
    top: 0px;
    bottom: 0px;
  }

  #hero--title{
    font-family: 'Rozha One', serif;
    font-size: 10rem;
    letter-spacing: 1.5px;
    line-height: 1.2em;
    font-weight: 200;
    color: var(--color-Title);
    text-align: left;
  }

  .form__container{
      display: flex;
      align-items: center;
      height: 50px;
      border-radius: 10px;
      border: 1px solid;
      padding: 0px;
      width: 50%;
      position: relative;
      border-color: var(--color-Text);
      background-color: white;
  }
  .form__item {
      width:100%;
      position: absolute;
      top: 0px;
      bottom: 0px;
      align-content: center;
  }

  .form__container input{
      color:#d4d4d4;
      display: flex;
      align-items: center;
      border-style: none;
      outline: none;
      padding: 0px;
      width: 80%;
      margin-left: 45px;
      position: absolute;
      top: 0px;
      bottom: 0px;
      font-size: 1.8rem;
  }

  .form__container select{
      position: absolute; 
      top: -1px;
      bottom: -1px;
      right: -1px;
      border-radius: 10px;
      background-color: var(--color-Primary);
      border-color: var(--color-Primary);
      padding: 0 30px 0 30px;
      line-height: 15px;
      letter-spacing: 0.8px;
      color: white;
      font-weight: 400;


      
  }
  .form__container span{

      display: flex;
      position: absolute;
      top: 0px;
      bottom: 0px;
      left: 0px;
      align-items: center;
      background-color: white;
      padding-left: 5px;
      border-radius: 10px;
      border-right: 5px ;
      
  }


  .hero__container--social{font-size: 1.9rem;margin-top: 2.8rem;}

  .hero__container--social span{
    padding: 0px   15px;;
  }

  .hero__container--social a{
      text-decoration:  none;
      color: var(--color-Primary);

  }

  /* section about */

  .about{
      position: relative;
      display: flex;
      width: 99.9%;
      top: 0px;

  }
  .aboutImage{
      display: flex;
      width: 100%;
      justify-content: flex-end;
      
      background-image: url('../images/about.jpg');
      background-size:cover;
      background-position: inherit;
      background-repeat: no-repeat;
      object-fit: cover;
      filter: blur(65%), grayscale(50%);
  }

  .about__container{
      display: flex;
      flex-direction: column;
      justify-content: center;
      justify-items: center;
      align-content: center;
      width: 60%;
      margin-top: 2rem;
      background-color: #ddd4d48a;
      margin-right: 6rem;
  }


  /* class general for title and subtitle on page */
.title{
    
      color: var(--color-Primary);
      margin: 15px 10px;
      font-size: 2rem;
      font-weight: 100;
      text-align: center;
  }
  .subtitle{
    margin:0;
    padding: 0;
    font-family: 'Rozha One', serif;
    font-size: 7.5rem;
    letter-spacing: 1.5px;
    line-height: 1.2em;
    font-weight: 200;
    color: var(--color-Title); 
    padding-left: 25px;
    text-align: center;
  }

  /*-- end class general--*/

  .about__container--article{
      margin: 5px;
      padding:25px  30px;
      letter-spacing: 1.5px;
      font-weight: 600;
      color: var(--color-Text);
      line-height: 1.8em;
      font-size: 1.8rem;
  }

.about__container--button{
    position: relative;
    margin:25px;
    height: 50px;
    width: 1;
}

  .about__container--button select{
    position: relative;
    border-radius: 10px;
    background-color: var(--color-Primary);
    border-color: var(--color-Primary);
    padding: 0 30px 0 30px;
    line-height: 15px;
    letter-spacing: 0.8px;
    color: white;
    font-weight: 400;
    width: 200px;
    height: 50px;

  }

  /* section menu */

  .menu{
      padding-top: 2rem;
    position: relative;
    display: flex;
    width: 99.9%;
    top: 0px;
    justify-content: center;
    background-color: var(--color-Menu);
}

.menu__container{
 display: flex;
 width: 100%;
 justify-content: center;
 justify-items: center;
 flex-direction: column;
 align-items: center;
 overflow: hidden;
 scroll-margin-bottom: inherit;
 }

.menu__galery{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-items: center;
  width: 90%;
  
}



/* Style the tab */
.tab {
      display:flex;
      border-bottom: 1px solid var(--color-Primary);
      justify-content:center;
      align-items: center;
      width: 100%;
      font-size: 0.2rem;
    }
    
    /* Style the buttons inside the tab */
    .tab button {
      background-color: inherit;
      float: left;
      border: none;
      outline: none;
      cursor: pointer;
      padding: 14px 20px;
      transition: 0.3s;
      font-size: 1.7rem;
      color: var(--color-Text);

    }
    
    /* Change background color of buttons on hover */
    .tab button:hover {
      background-color: #ddd;
    }
    
    /* Create an active/current tablink class */
    .tab button.active {
      color: var(--color-Primary);

    }
    
    /* Style the tab content */
    .tabcontent {
      display: none;
      width: 95%;
      grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
      gap: 2rem;
      margin: 40px;
      justify-content: center;

      
    }

    #Breakfast{
      display: grid; 
      width: 100%;
      overflow: hidden;     
    }

    #Breakfast div.card{
      background-image: url('../images/breakfast.jpg'); 
    }
    #Launch div.card {
      background-image: url('../images/Launch.jpg'); 
    }

    

    /* card dishe*/
    .card{
      display: flex;
      flex-direction: column;
      width: 2;
      height: 350px;
      justify-content: space-evenly;
      justify-items: center;
      align-items: center;
      background-position: center;
      background-size: cover;
      object-fit: contain;
      background-repeat: no-repeat;
      margin: 12;
    }


    .card__price{
      font-size: 2.5rem;
      font-weight: 600;
      color: var(--color-Text);
    }
    .card__raiting{
      font-size: 1.8rem;
    }
    .card__name{
      font-size: 2.8rem;
      font-weight: 900;
      color: white;
    }


    .button__Order{
      background-color: var(--color-Primary);
      border: none;
      color: white;
      font-size: 1.6rem;
      width: 125px;
      height: 55px;
      font-weight: 100;
      outline: none;
      cursor: pointer;
    }
    .card__info{
      width: 100%;
      display:flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      height: 100%;
      opacity: 0%;
      transition: opacity, 2s ;
    }

    .card__info:hover{
      opacity: 100%;
      
    }

    /* section order */

    .order{
      display: flex;
      width: 100%;
      justify-content: center;
      align-content: center;
      background-color: var(--color-Menu);
     
      
    }

    .order__container{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 90%;
      margin-top: 2rem;
      margin-bottom: 2rem;
      font-size: 1.5rem;
       

    }

    .numberContact{
      font-size: 2.8rem;
    }

    .hoursAtention{
      display: flex;
      width: 50%;
      justify-content: space-around;
      font-size: 2.4rem;
      font-weight: 400;
      margin-top: 2rem;

    }

    .container__slider__video{
      display: flex;
      width: 100%;
      height: min-content;
      justify-items: center;
      justify-content: center;
    }

    .container__video{
      display: flex;
      width: 100%;
      justify-content: center;
      margin: auto;
      margin-top: 2rem;
      background-color: white;
      width:800px;
      height: min-content;
      position: relative;
    }

    .container__slider__video  video {
      width: 100%;
      height: 0 auto;
      object-fit: cover; 
      }

    .botones{
      
  font-size: 1.5rem;
  width: 50px;
  height: 50px;
  line-height: 50px;
  border-radius: 50%;
  background-color: white;
  text-align: center;
  align-items: baseline;
  font-weight: bold;
  position: absolute;
  color: #ffffff;
  transition: all .3s ease;
  color: var(--color-Primary);
  border-color: var(--color-Primary);
  border: 1px solid;
}

    .botones:hover{
      cursor: pointer;
      transform: scale(1.2,1.2);
    }
     .atras{
       left: -8%;
       top:calc(50% - 50px);
     }
     .adelante{
       right: -8%;
       top:calc(50% - 50px);
     }






/* section blog */


.blog{
  margin-top:2rem; 
}

.container__test{
  display: flex;
  width: 100%;
  justify-items: center;
  justify-content: center;
  flex-direction: column;
}

.slider{
  display: flex;
  justify-content: center;
  margin: auto;
  background-color: white;
  width: 80%;
  padding: 30px;
  position: relative;
}
.slider ul li{
text-decoration: none;
list-style: none;
margin: 0;
padding: 0;

}


ul.slider__list{
margin-top: 2rem;
height: 540px;

}

ul.slider__list li {
opacity: 0;
position: absolute;
display: flex;
top: 0;
left: 0;
right: 0;
bottom: 0;
background-color: white;
justify-items: center;
align-content: center;
align-items: center;

}


ul.slider__list li video {
width: 100%;
height:min-content;
object-fit: cover; 
}

 ul.slider__list li:first-child{
  opacity: 1;
}


ul.slider__list li:target {
opacity: 1; /*Mostramos el <li> del enlace que pulsemos*/
}


.slider__menu{
position: absolute;
bottom: 0;
display: flex;
width: 100%;
justify-content: center;


}


.slider__menu li{
display: inline-block;
text-align: center;
}

.slider__menu li a{
display: inline-block;
color: white;
text-decoration: none;
background-color:var(--color-Primary);
padding: 10px;
width: 20px;
height: 20px;
font-size: 20px;
border-radius: 100%;
transition: all .3s ease;
}
.slider__menu li a:hover{
  transform: scale(0.7);
}





.card__review{
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  
}
.card__review--photo{
  width: 150px;
  height: 150px;
  border-radius: 50%;

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 15px;
}

.card__review p{
  margin: 15px;
}
.card__review--name{
  margin: 20px;
}

#slider1 div.card__review--photo{
  background-image: url('../images/perfil.jpg');
}
#slider2 div.card__review--photo{
  background-image: url('../images/perfil2.jpg');
}

#slider3 div.card__review--photo{
  background-image: url('../images/perfil3.jpg');
}


.card__review--photo img{
  width: 100%;
  overflow: hidden;
}
.card__review article{
  margin: 0 2rem;
  color: var(--color-Text);
  font-family: var(--font-boby);
  text-align: center;
  line-height: 3.5rem;
  letter-spacing: 0.3rem;
}

/*section location */

.location{
  width: 100%;
  display: flex;
  background-color: var(--color-Menu);
  justify-content: center;
  height: 250px;
  

}

.container__location{
  width: 100%;
  
  
  
}


.container__location--list{
  text-decoration: none;
  list-style: none;
  display: grid;
  gap: 1rem;
  /* grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); */
  width: 100%;
  justify-content: center;
  /* place-items: baseline; */
}

.container__location--img{
  font-size: 1.5rem;
  color: var(--color-Text);
  font-family: var(--font-boby);
  font-weight: 500;
  display: flex;
  width: 250px;
  font-weight: 600;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  align-content: center;
  text-align: justify;
  height: 100%;
  
  
}

.container__location--img img{
  width: 150px;
  height: 0 auto;
}

.container__location--hours{
display: flex;
flex-direction: column;
width: 20%;
align-items: center;
list-style: none;
margin-left: 1.2rem;
font-size: 1.5rem;
flex: 1 1 150px; /*  Stretching: */
flex: 0 1 150px; /*  No stretching: */
margin: 5px;

}

.us a{
  color: var(--color-Primary);
}

.title__location{
font-size: 3.5rem;
font-family: var(--font-Principal);
font-weight: 400;
}

.container__location--hours ul{
 list-style: none;
}

.container__location--hours ul li{
  padding: 0.8rem;
  color: var(--color-Text);
  font-family: var(--font-boby);
  font-weight: 600;
}



.message {
  align-content: center;
  justify-content: center;
  align-items: baseline;
}

.letter input{
  height: 50px;
  padding-left: 10px;
  border: 1px solid var(--color-Text);
  border-radius:10px;
  outline: none;
  justify-content: center;
}

.letter form span{
  position: relative;
  left:-20% ;
}


footer{
  display: flex;
  width: 90%;
  justify-content: space-between;
  font-size: 1.5rem;
  padding: 20px 20px;
  margin: 10px 20px;
}
.footer{
  background-color: var(--color-Menu);
  border-top: 1px solid var(--color-Text);
}
.icons__footer span{
  padding:0px 20px;
}
.icon_footer{
  width: 40px;



}