/*fuente*/
@import url('https://fonts.googleapis.com/css2?family=Rozha+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@400;600&display=swap');




:root{
    --color-Primary:#ff8800;
    --color-Title:#0d0d25;
    --color-Text:#5d5d79;
    --font-Principal: 'Rozha One', serif;
    --font-boby:'Sora', sans-serif;
}
/*conf initial*/

*{
    padding: 0px;
    margin: 0px;
    font-family: var(--font-boby);
}

.debugger{
    border: 1px solid red;
}
/* header */

.header{
    display: flex;
    width: 100%;
    height: 55px;
    position: absolute;
}

.header__container{
width: 100%;
display: flex;
justify-content: flex-end;
}

 .header__container--nav{
     justify-content: flex-end;
     align-content: flex-end;
     display: flex;
 }
 
 .header__container--nav ul {
   display:flex;
   justify-content: center;
   list-style: none;
   
    
 }

 .header__container--nav ul a{
     display: flex;
     align-items: center;
     text-decoration: none;
     color: black;

 }
 .header__container--nav ul li {
     padding: 1.5em;
     color: var(--color-Text);
     font-weight: 600;
  }

  /* Hero Section */

  .hero{
      display: flex;
      height: 100%;
      width: 100%;
      position: relative;
      top: 55px;
  }
  .heroImage{
      position: relative;
      top:-55px;
      bottom: 0px;
      left: 0px;
      right: 0px;
      z-index: -1;
      padding-top: 7em;
      width: 100%;
      height: 60vh;
      background-image: url('../images/heroimage.jpg');
      background-size:cover;
      background-position: inherit;
      background-repeat: no-repeat;
      object-fit: cover;
  }
  .hero__container{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding-left: 6em;
    box-sizing: content-box;
    position: relative;
    top: 0px;
    bottom: 0px;
  }

  #hero--title{
    font-family: 'Rozha One', serif;
    font-size: 6em;
    letter-spacing: 1.5px;
    line-height: 1.2em;
    font-weight: 200;
    color: var(--color-Title);
  }

  .form__container{
      display: flex;
      align-items: center;
      height: 50px;
      border-radius: 10px;
      border: 1px solid;
      padding: 0px;
      width: 50%;
      position: relative;
      border-color: var(--color-Text);
      background-color: white;
  }
  .form__item {
      width:100%;
      position: absolute;
      top: 0px;
      bottom: 0px;
      align-content: center;
  }

  .form__container input{
      color:#d4d4d4;
      display: flex;
      align-items: center;
      border-style: none;
      outline: none;
      padding: 0px;
      width: 80%;
      margin-left: 45px;
      position: absolute;
      top: 0px;
      bottom: 0px;
      font-size: 1em;
      
  }

  .form__container select{
      position: absolute; 
      top: -1px;
      bottom: -1px;
      right: -1px;
      border-radius: 10px;
      background-color: var(--color-Primary);
      border-color: var(--color-Primary);
      padding: 0 30px 0 30px;
      line-height: 15px;
      letter-spacing: 0.8px;
      color: white;
      font-weight: 400;


      
  }
  .form__container span{

      display: flex;
      position: absolute;
      top: 0px;
      bottom: 0px;
      left: 0px;
      align-items: center;
      background-color: white;
      padding-left: 5px;
      border-radius: 10px;
      border-right: 5px ;
      
  }


  .hero__container--social{
font-size: 1.2em;
margin-top: 2em;
  }

  .hero__container--social a{
      text-decoration:  none;
      color: var(--color-Primary);

  }

  /* section about */

  .about{
      position: relative;
      border: 1px solid blue;
      display: flex;
      width: 99.9%;
      top: 0px;

  }
  .aboutImage{
      display: flex;
      width: 100%;
      justify-content: flex-end;
      
      background-image: url('../images/about.jpg');
      background-size:cover;
      background-position: inherit;
      background-repeat: no-repeat;
      object-fit: cover;
      filter: blur(65%), grayscale(50%);
  }

  .about__container{
      display: flex;
      flex-direction: column;
      justify-content: center;
      justify-items: center;
      align-content: center;
      width: 60%;
      margin-top: 2rem;
      background-color: #b6afaf8a; 
      margin-right: 6rem;
      
  }

  #title__about{
      color: var(--color-Primary);
      margin: 15px 10px;
      font-size: 1.2rem;
      font-weight: 100;
  }
  #subtitle{
    font-family: 'Rozha One', serif;
    font-size: 5.5em;
    letter-spacing: 1.5px;
    line-height: 1.2em;
    font-weight: 200;
    color: var(--color-Title); 
    padding-left: 25px;
  }

  .about__container--article{
      margin: 5px;
      padding:25px  30px;
      letter-spacing: 1.5px;
      font-weight: 600;
      color: var(--color-Text);
      line-height: 1.8em;
  }

.about__container--button{
    position: relative;
    margin:25px;
    height: 50px;
    width: 1;
}

  .about__container--button select{
    position: relative;
    border-radius: 10px;
    background-color: var(--color-Primary);
    border-color: var(--color-Primary);
    padding: 0 30px 0 30px;
    line-height: 15px;
    letter-spacing: 0.8px;
    color: white;
    font-weight: 400;
    width: 200px;
    height: 50px;

  }
